<p id="notice"><%= notice %></p>

<h1>Bunches</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bunches.each do |bunch| %>
      <tr>
        <td><%= bunch.name %></td>
        <td><%= link_to 'Show', bunch %></td>
        <td><%= link_to 'Edit', edit_bunch_path(bunch) %></td>
        <td><%= link_to 'Destroy', bunch, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bunch', new_bunch_path %>
